:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --bg-color: #ffffff;
  --bg-color-black: #2f303a;
  --bg-color-grey: #f5f4fa;
  --primary-bg-color: #f5f5f5;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --icon: #afb1b8;
  --footer-bg-icon: rgba(255, 255, 255, 0.1);
  --button-color-pointer: #188ce8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}

h2,
h3,
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1 {
  margin: 0;
}

/* header */

.header-page {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logotype {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  color: var(--title-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-style {
  color: var(--accent-color);
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
  position: relative;
}

.link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.header-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .header-link:hover,
.contact-nav .header-link:focus {
  color: var(--accent-color);
}

.contact-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav {
  margin-left: auto;
}

.contact-nav .item + .item {
  margin-left: 40px;
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* hero */

.hero-title {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color-black);
  color: var(--bg-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.btn-hero {
  padding: 10px 32px;
  color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero.btn:active {
  color: var(--bg-color);
  background-color: var(--button-color-pointer);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--button-color-pointer);
}

.btn-work {
  justify-content: center;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.butt {
  margin-right: 8px;
}

.butt:last-child {
  margin-right: 0;
}

.btn-work .list {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-work.list:hover,
.btn-work.list:focus {
  color: var(--bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* особливості */

.title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-title {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
}

.feature-title:last-child {
  margin-right: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
}

.feature-list > .feature-title {
  flex-basis: calc((100% - 3 * 30px / 4));
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-grey);
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

/* чим ми займаємося */

.example {
  display: flex;
}

.work {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-work {
  padding-top: 0;
  padding-bottom: 94px;
}

.card {
  margin-right: 30px;
}

.card:last-child {
  margin-right: 0;
}

.example > .card {
  flex-basis: calc(100% / 3);
}

.card-box {
  position: relative;
}

.card-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  color: var(--bg-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* наша команда */

.team {
  color: var(--primary-text-color);
  background-color: var(--bg-color-grey);
}

.folder {
  display: flex;
}

.team-photo {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-box {
  margin-right: 30px;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-box:last-child {
  margin-right: 0;
}

.team-list {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.igor {
  padding-top: 30px;
}

.olga {
  padding-top: 30px;
}

.kolya {
  padding-top: 30px;
}

.miha {
  padding-top: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.folder > .team-box {
  flex-basis: calc(100% / 4);
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.team-social-items {
  width: 44px;
  height: 44px;
}

.team-social-items:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--icon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.team-soc-icons {
  fill: currentColor;
}

/* Постійні клієнти */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--icon);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:not(:last-child) {
  margin-right: 30px;
}

.clients-icon .icon-link:hover,
.clients-icon .icon-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon:hover,
.clients-icon:focus {
  border-color: var(--accent-color);
}

/* footer */

.footer-title {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-black);
}

.foot-nav {
  display: flex;
  align-items: baseline;
}

.footer-nav {
  margin-right: 70px;
}

.logo-foot-site {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-footer {
  color: var(--bg-color);
}

.adress-sity {
  margin-top: 28px;
}

.adress {
  padding: 0;
  margin-bottom: 12px;
  color: var(--bg-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contact {
  color: var(--footer-contact);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info .contact:hover,
.contact-info .contact:focus {
  color: var(--accent-color);
}

.contact-info {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.contacttomail {
  margin-bottom: 12px;
}

.footer-social-title {
  color: var(--bg-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-items {
  width: 44px;
  height: 44px;
}

.footer-soc-items:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--bg-color);
  background-color: var(--footer-bg-icon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.team-soc-icons {
  fill: currentColor;
}

.form {
  margin-left: auto;
}

.form-title {
  color: var(--bg-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color-black);
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.contact-input:hover,
.contact-input:active {
  border-color: var(--accent-color);
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  color: var(--bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  margin-left: 10px;
}

.button-form:active {
  color: var(--bg-color);
  background-color: var(--button-color-pointer);
}

.button-form:hover,
.button-form:focus {
  background-color: var(--button-color-pointer);
}

/* портфоліо */

.btn-work {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-work {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.text-work {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.project-work {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
}

.project-work > .project {
  width: calc((100% - 60px) / 3);
}

.project {
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-type:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:nth-child(3n) {
  margin-right: 0;
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.ourworks {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  margin-top: 0;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--bg-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover .project-text {
  transform: translate(0);
}

/* модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-left: 41px;
}

.button-close {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 6px;
  fill: var(--title-text-color);
  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--accent-color);
}

.modal-head {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-input {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  color: var(--secondary-text-color);

  outline: none;
}

.modal-field {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--accent-color);
}

.modal-field:hover,
.modal-field:focus {
  border-color: var(--accent-color);
}

.modal-field:hover + .modal-icon,
.modal-field:focus + .modal-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-input label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  outline: none;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  cursor: pointer;
}

.modal-comment {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.comment-text:hover,
.comment-text:focus {
  border-color: var(--accent-color);
}

.comment-text {
  width: 448px;
  height: 120px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  outline: none;
}

.comment-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 0.2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:checked + .check-icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.contract {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-politic {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contract {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-button {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: auto;
  margin-top: 30px;
  margin-left: auto;
}

.modal-button:active {
  color: var(--bg-color);
  background-color: var(--button-color-pointer);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-color-pointer);
}
