.logo {
  color: var(--title-text-color);
  font-family: var(--secondary-font);
  @include font(24, 700, 1.19, 0.03);
  text-decoration: none;
@media screen and(min-width: 1200px){
  @include font(26, 700, 1.19, 0.03);
}

}

.logo__header {
  @media screen and(max-width: 767px) {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo__label {
  margin-right: 0;
}

.logo__style {
  color: var(--accent-color);
}

.logo__footer {
  color: var(--bg-color);
}
