.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;

  @media screen and(min-width: 768px) {
    margin-top: 30px;
  }
  @media screen and(min-width: 1200px) {
    margin-top: 50px;
  }
}

.header__prtfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio__item {
  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__item {
  cursor: pointer;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__item:first-child .portfolio__card {
  @media screen and (min-width: 768px) {
    padding-bottom: 56px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 20px;
  }
}

.portfolio__item:hover .portfolio__text {
  transform: translate(0);
}

.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--bg-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  margin-top: 0;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__pretitle {
  color: var(--primary-text-color);
  @include font(18, 700, 2, 0.06);
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio__filter {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
